# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.backup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
build.log

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
nbactions.xml

# SQLite (Bases de datos locales)
*.db
*.db-journal
*.db-shm
*.db-wal

# Archivos del Sistema Operativo
Thumbs.db
Desktop.ini
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/

# Agentes IA
*_AGENTS.md
